@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #f3f6fb;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--body-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .submit-btn-base {
    @apply py-[20px] px-[32px] w-full text-white text-[18px] leading-[1.25] font-bold rounded-[20px] shadow-custom;
  }
}

@layer components {
  .read-more-btn {
    @apply text-sm text-accent hover:text-accentPressed focus:text-accentPressed transition-[color] ease-in-out xl:text-[18px] xl:leading-[1.5];
  }

  .submit-btn {
    @apply submit-btn-base;
    @apply bg-accent hover:bg-accentHover focus:bg-accentHover active:bg-accentPressed transition-[background] ease-in-out;
  }

  .submit-err-btn {
    @apply submit-btn-base;
    @apply text-errorCol bg-inactive;
  }

  .submitted-btn {
    @apply submit-btn-base;
    @apply flex justify-center gap-[16px] bg-accentPressed;
  }

  .submit-disable-btn {
    @apply submit-btn-base;
    @apply text-inactiveText bg-inactive pointer-events-none;
  }
}

.submitted-btn::after {
  content: url('/icons/check.svg');
  display: block;

  width: 24px;
  height: 24px;
}
